.mat-form-field {
    height: 38px;
    font-size: .875rem;
  }
  
  .mat-form-field-flex,
  .mat-form-field-wrapper { height: 100%; }
  
  .mat-form-field-infix { padding: .375rem .75rem .175rem .75rem; }
  
  .mat-form-field-outline-start,
  .mat-form-field-outline-end { border-radius: .25rem; }