<mat-toolbar class="tool-bar tool-bar-content">
    <span class="ccp-title">CPP</span>
    <div class="language-buttons">
      <button (click)="changeLanguage('en')" class="flag-button" title="English">
        <img src="https://assetsccp.s3.us-east-1.amazonaws.com/english.png" alt="English" class="flag-icon"/>
      </button>
      <button (click)="changeLanguage('es')" class="flag-button" title="Español">
        <img src="https://assetsccp.s3.us-east-1.amazonaws.com/spanish.png" alt="Español" class="flag-icon"/>
      </button>
    </div>
</mat-toolbar>
<home></home>
