<mat-toolbar class="tool-bar tool-bar-content">
  <span class="ccp-title" style="cursor: pointer;">CPP</span>

  <div>
    <span (click)="goWarehouse()" *ngIf="userData != null && userData?.role === 'admin'">
      <i class="bi bi-house-door-fill"></i>
      {{ 'MENU_PRODUCTS' | translate }}
    </span>&nbsp;
    <span (click)="goAuthorization()" *ngIf="userData?.role === 'admin'">
      <i class="bi bi-person-check-fill"></i>
      {{ 'MENU_AUTHORIZATIONS' | translate }}
    </span>
  </div>

  <div class="language-buttons">
    <button (click)="changeLanguage('en')" class="flag-button" title="English">
      <img src="https://assetsccp.s3.us-east-1.amazonaws.com/english.png" alt="English" class="flag-icon"/>
    </button>
    <button (click)="changeLanguage('es')" class="flag-button" title="Español">
      <img src="https://assetsccp.s3.us-east-1.amazonaws.com/spanish.png" alt="Español" class="flag-icon"/>
    </button>
    <button class="btn" (click)="logout()" title="Logout">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
        <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
      </svg>
    </button>
  </div>
</mat-toolbar>

<router-outlet/>
