<div class="container mt-5">
  <div class="container mt-5">
    <h2 class="mb-4">{{ 'MANUFACTURER_DASHBOARD_TITLE' | translate: { name: userName } }}</h2>
    <h4 class="mb-3">{{ 'ADMIN_SEARCH_USERS' | translate }}</h4>

    <div class="mb-3">
          <input type="text" class="form-control" placeholder="{{ 'ADMIN_SEARCH_USERS' | translate }}" [(ngModel)]="searchTerm">
        </div>

    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">

    <table class="table">
      <thead class="table-light" style="position: sticky; top: 0; z-index: 1;">

            <tr>
              <th>{{ 'ADMIN_TABLE_HEADER_AUTHORIZED' | translate }}</th>
              <th>{{ 'ADMIN_TABLE_HEADER_EMAIL' | translate }}</th>
              <th>{{ 'ADMIN_TABLE_HEADER_ROLE' | translate }}</th>
              <th>{{ 'ADMIN_TABLE_HEADER_ACTION' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of filteredUsers">
              <td>
                <small *ngIf="!user.authorized">⚠️</small>
                <small *ngIf="user.authorized">✅</small>
              </td>
              <td>{{ user.email }}</td>
              <td>
                <small *ngIf="user.role === 'admin'">⚙️</small>
                <small *ngIf="user.role === 'user'">👤</small>
                <small *ngIf="user.role === 'seller'">👨🏽‍💼</small>
                <small *ngIf="user.role === 'manufacturer'">👷🏻</small>
                {{ user.role }}
              </td>
              <td>
                <button class="btn" [ngClass]="{'btn-success': !user.authorized, 'btn-secondary': user.authorized}" (click)="authorize(user)" [disabled]="user.authorized">
                  <i class="bi bi-check-circle"></i>
                  {{ 'ADMIN_AUTHORIZE_BUTTON' | translate }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>


  <!--Success Toast -->
  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successMessageVisible">
    <strong>{{ 'ADMIN_SUCCESS_AUTHORIZED' | translate }}</strong>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeSuccessMessage()"></button>
    </div>

  <!--Error Toast -->
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessageVisible">
    <strong>{{ 'ADMIN_ERROR_AUTHORIZED' | translate }}</strong>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorMessage()"></button>
  </div>

</div>
