<!-- product-detail.component.html -->
<div class="container mt-5" *ngIf="!loading; else loadingSpinner">
    <h2 class="mb-4">
      {{ 'MANUFACTURER_DASHBOARD_TITLE' | translate:{ name: product.name } }}
    </h2>
  
    <div class="row">
      <div class="col-md-4">
        <div class="card p-3 text-center">
          <img [src]="product.imageUrl || 'https://assetsccp.s3.us-east-1.amazonaws.com/placeholder-image.png'" class="img-fluid rounded mb-3" alt="Product Image" />
          <h4>{{ product.name }}</h4>
          <p>{{ product.description }}</p>
        </div>
      </div>
  
      <div class="col-md-8">
        <div class="card p-4">
          <h5 class="mb-3">{{ product.name }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>{{ 'PRODUCT_NAME' | translate }}:</strong> {{ product.name }}</li>
            <li class="list-group-item"><strong>{{ 'PRODUCT_DESCRIPTION' | translate }}:</strong> {{ product.description }}</li>
            <li class="list-group-item"><strong>{{ 'PRODUCT_CATEGORY' | translate }}:</strong> {{ product.category }}</li>
            <li class="list-group-item"><strong>{{ 'PRODUCT_PRICE' | translate }}:</strong> ${{ product.price }}</li>
            <li class="list-group-item"><strong>{{ 'PRODUCT_STOCK' | translate }}:</strong> {{ product.stock }}</li>
            <li class="list-group-item"><strong>{{ 'PRODUCT_SKU' | translate }}:</strong> {{ product.sku }}</li>
            <li class="list-group-item" *ngIf="product.isPerishable"><strong>{{ 'PRODUCT_EXPIRATION_DATE' | translate }}:</strong> {{ product.expirationDate | date }}</li>
            <li class="list-group-item"><strong>{{ 'PRODUCT_DELIVERY_TIME' | translate }}:</strong> {{ product.deliveryTime }} días</li>
            <li class="list-group-item"><strong>{{ 'PRODUCT_STORAGE_CONDITIONS' | translate }}:</strong> {{ product.storageConditions }}</li>
            <li class="list-group-item"><strong>{{ 'PRODUCT_COMMERCIAL_CONDITIONS' | translate }}:</strong> {{ product.commercialConditions }}</li>
          </ul>
  
          <div class="mt-4 d-flex justify-content-end">
            <button class="btn btn-primary" (click)="editProduct()">{{ 'BUTTON_EDIT' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #loadingSpinner>
    <div class="text-center mt-5">
      <mat-spinner></mat-spinner>
      <p>{{ 'LOADING_BUTTON_TEXT' | translate }}</p>
    </div>
  </ng-template>
  