/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');


html, body { height: 100%; padding: 5px; overflow-x: hidden; }
html, body, app-root {
  margin: 0;
  padding: 0;
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --Gray-300: #DEE2E6;
  --Default-White: #FFF;
  --Display-Large-Font: Roboto;
  --Display-Large-Size: 57px;
  --Display-Large-Line-Height: 64px;
  --Display-Large-Tracking: -0.25px;
  --Body-Text-Base-Color: #68717A;

  --Gray-900: #212529;
}
