<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card class="welcome-card" appearance="outlined">
      <img mat-card-image src="https://assetsccp.s3.us-east-1.amazonaws.com/ccp.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h1>{{ 'WELCOME_TITLE' | translate }}</h1>
        <p>{{ 'WELCOME_DESCRIPTION' | translate }}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="login-container login-input">
      <h1>{{ 'LOGIN_TITLE' | translate }}</h1>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2 class="label-text-login">{{ 'USERNAME_LABEL' | translate }}</h2>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'USERNAME_PLACEHOLDER' | translate }}</mat-label>
          <input matInput formControlName="usuario">
          <mat-error *ngIf="loginForm.get('usuario')?.hasError('required')">
            {{ 'USERNAME_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>

        <h2 class="label-text-login">{{ 'PASSWORD_LABEL' | translate }}</h2>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'PASSWORD_PLACEHOLDER' | translate }}</mat-label>
          <input matInput [type]="'password'" formControlName="contrasena">
          <mat-error *ngIf="loginForm.get('contrasena')?.hasError('required')">
            {{ 'PASSWORD_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="loginForm.get('contrasena')?.hasError('minlength')">
            {{ 'PASSWORD_MINLENGTH' | translate }}
          </mat-error>
        </mat-form-field>

        <button mat-flat-button class="btn-login" type="submit">{{ 'LOGIN_BUTTON' | translate }}</button>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>
