<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card class="welcome-card" appearance="outlined">
      <img mat-card-image src="https://assetsccp.s3.us-east-1.amazonaws.com/ccp.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h1>{{ 'WELCOME_TITLE' | translate }}</h1>
        <p>{{ 'WELCOME_DESCRIPTION' | translate }}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="login-title">
    <div class="login-container login-input">
      <h1>{{ 'LOGIN_TITLE' | translate }}</h1>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'USERNAME_PLACEHOLDER' | translate }}</mat-label>
          <input matInput formControlName="usuario">
          <mat-error *ngIf="loginForm.get('usuario')?.hasError('required')">
            {{ 'USERNAME_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'PASSWORD_PLACEHOLDER' | translate }}</mat-label>
          <input matInput [type]="'password'" formControlName="contrasena">
          <mat-error *ngIf="loginForm.get('contrasena')?.hasError('required')">
            {{ 'PASSWORD_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="loginForm.get('contrasena')?.hasError('minlength')">
            {{ 'PASSWORD_MINLENGTH' | translate }}
          </mat-error>
        </mat-form-field>

        <div class="btn-container">
          <a mat-flat-button routerLink="/manufacturer" class="btn-login" type="submit">{{ 'LOGIN_BUTTON' | translate }}</a>
          <a mat-flat-button routerLink="/manufacturer" class="btn-man-register" type="submit">{{ 'REGISTER_MANUFACTURER' | translate }}</a>
          <a mat-flat-button routerLink="/seller-register" class="btn-sell-register" type="submit">{{ 'REGISTER_SELLER' | translate }}</a>
        </div>

      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<!-- Pending Validation Toast -->
<div *ngIf="pendingValidation" class="toast-container position-fixed top-0 end-0 p-4 mt-5 me-4 z-3">
  <div class="toast align-items-center text-bg-warning border-0 show fade" role="alert">
    <div class="d-flex">
      <div class="toast-body">
        {{ 'PENDING_VALIDATION_MESSAGE' | translate }}
        <br>
        <small>{{ email }}</small>
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" aria-label="Close" (click)="pendingValidation = false"></button>
    </div>
  </div>
</div>