<div class="container mt-5">
  <div class="row">
    <div class="col">

      <div class="card mb-5" style="max-width: 540px;">
         <div class="row g-0">
          <div class="col-md-4">
            <img src="https://assetsccp.s3.us-east-1.amazonaws.com/maunfacturer_form_2.png" class="img-fluid rounded-start card-image" alt="manufacturer form">
          </div>
          <div class="col-md-8 card-info">
            <div class="card-body">
              <h1 class="card-title">Registro de Fabricante</h1>
              <p class="card-text">Complete el formulario para registrarse en la plataforma y gestionar sus productos en CCP</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">

    </div>
  </div>

  <form [formGroup]="manufacturerForm" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="col mb-6">

        <div class="mb-3">
          <label for="manufacturerName" class="form-label">Nombre completo del representante *</label>
          <input type="text" class="form-control" id="manufacturerName" formControlName="manufacturerName" aria-describedby="manufacturerNameHelp" placeholder="Ingrese el nombre completo del representante"
                 [ngClass]="{'is-invalid': manufacturerName.invalid && manufacturerName.dirty, 'is-valid': manufacturerName.valid}"/>

          <div id="manufacturerNameHelpBlock" class="form-text float-end">
            {{ manufacturerName.value?.length || 0 }}/256
          </div>

          <div *ngIf="manufacturerName.invalid && (manufacturerName.dirty)" class="invalid-feedback">
            <small *ngIf="manufacturerName.errors?.['required']" >El nombre del fabricante es obligatorio.</small>
            <small *ngIf="manufacturerName.errors?.['minlength']">El nombre del fabricante es muy corto.</small>
          </div>
        </div>



        <div class="mb-3">
          <label for="companyName" class="form-label">Nombre de la empresa *</label>
          <input type="text" class="form-control" id="companyName" formControlName="companyName" placeholder="Ingrese el nombre de la empresa"
                 [ngClass]="{'is-invalid': companyName.invalid && companyName.dirty, 'is-valid': companyName.valid}"/>

          <div id="companyNameHelpBlock" class="form-text float-end">
            {{ companyName.value?.length || 0 }}/256
          </div>

          <div *ngIf="companyName.invalid && (companyName.dirty)" class="invalid-feedback">
            <small *ngIf="companyName.errors?.['required']">El nombre de la empresa es obligatorio.</small>
            <small *ngIf="companyName.errors?.['minlength']">El nombre de la empresa es muy corto.</small>
          </div>
        </div>

        <div class="mb-3">
          <label for="companyAddress" class="form-label">Dirección de la empresa *</label>
          <input type="text" class="form-control" id="companyAddress" formControlName="companyAddress" placeholder="Ingrese la dirección de la empresa"
                 [ngClass]="{'is-invalid': companyAddress.invalid && companyAddress.dirty,'is-valid': companyAddress.valid }"/>

          <div id="companyAddressHelpBlock" class="form-text float-end">
            {{ companyAddress.value?.length || 0 }}/256
          </div>

          <div *ngIf="companyAddress.invalid && (companyAddress.dirty)" class="invalid-feedback">
            <small *ngIf="companyAddress.errors?.['required']">La dirección de la empresa es obligatoria.</small>
            <small *ngIf="companyAddress.errors?.['minlength']">La dirección de la empresa es muy corta.</small>
          </div>
        </div>

        <div class="mb-3">
          <label for="manufacturerEmail" class="form-label">Correo electrónico *</label>
          <input type="email" class="form-control" id="manufacturerEmail" formControlName="manufacturerEmail" placeholder="Ingrese el email de la empresa"
                 [ngClass]="{'is-invalid': manufacturerEmail.invalid && manufacturerEmail.dirty, 'is-valid': manufacturerEmail.valid}"/>
          <div *ngIf="manufacturerEmail.invalid && (manufacturerEmail.dirty)" class="invalid-feedback">
            <small *ngIf="manufacturerEmail.errors?.['required']">El correo electrónico es obligatorio.</small>
            <small *ngIf="manufacturerEmail.errors?.['email']">El formato del correo electrónico no es válido.</small>
          </div>
        </div>

        <div class="mb-3">
          <label for="manufacturerPhone" class="form-label">Número de teléfono *</label>
          <input type="tel" class="form-control" id="manufacturerPhone" formControlName="manufacturerPhone" placeholder="+593 999 999 999"
                 [ngClass]="{'is-invalid': manufacturerPhone.invalid && manufacturerPhone.dirty, 'is-valid': manufacturerPhone.valid}"/>
          <div *ngIf="manufacturerPhone.invalid && (manufacturerPhone.dirty)" class="invalid-feedback">
            <small *ngIf="manufacturerPhone.errors?.['required']">El número de teléfono es obligatorio.</small>
            <small *ngIf="manufacturerPhone.errors?.['pattern']">El formato del número de teléfono no es válido.</small>
            <small *ngIf="manufacturerPhone.errors?.['minlength']">El número de teléfono es muy corto.</small>
          </div>
        </div>

      </div>

      <div class="col mb-6">

        <div class="mb-3">
          <label for="companyCountry" class="form-label">País de operación *</label>
          <input type="text" class="form-control" id="companyCountry" formControlName="companyCountry" placeholder="Seleccione el país de operación de la empresa"
                 [ngClass]="{'is-invalid': companyCountry.invalid && companyCountry.dirty, 'is-valid': companyCountry.valid}"/>
          <div *ngIf="companyCountry.invalid && (companyCountry.dirty)" class="invalid-feedback">
            <small *ngIf="companyCountry.errors?.['required']">El país de operación es obligatorio.</small>
            <small *ngIf="companyCountry.errors?.['minlength']">El nombre del país es muy corto.</small>
          </div>
        </div>

        <div class="mb-3">
          <label for="manufacturerRUC" class="form-label">Identificación fiscal o RUC *</label>
          <input type="text" class="form-control" id="manufacturerRUC" formControlName="manufacturerRUC" placeholder="Ingrese su número de identificación fiscal o RUC"
                 [ngClass]="{'is-invalid': manufacturerRUC.invalid && manufacturerRUC.dirty, 'is-valid': manufacturerRUC.valid}"/>

          <div id="manufacturerRUCHelpBlock" class="form-text float-end">
            {{ manufacturerRUC.value?.length || 0 }}/256
          </div>

          <div *ngIf="manufacturerRUC.invalid && (manufacturerRUC.dirty)" class="invalid-feedback">
            <small *ngIf="manufacturerRUC.errors?.['required']">La identificación fiscal o RUC es obligatoria.</small>
            <small *ngIf="manufacturerRUC.errors?.['pattern']">El formato de la identificación fiscal o RUC no es válido.</small>
            <small *ngIf="manufacturerRUC.errors?.['minlength']">La identificación fiscal o RUC es muy corta.</small>
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña *</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese la contraseña"
                 [ngClass]="{'is-invalid': password.invalid && password.dirty || !passwordsMatch, 'is-valid': password.valid && passwordsMatch}"/>

          <div id="passwordHelpBlock" class="form-text float-end">
            Mínimo 8 caracteres
          </div>

          <div id="invalidPassword" *ngIf="password.invalid && password.dirty && !passwordsMatch" class="invalid-feedback">
            <small *ngIf="password.errors?.['required']">La contraseña es obligatoria.</small>
            <small *ngIf="password.errors?.['minlength']">La contraseña es muy corta.</small>
          </div>

          <div *ngIf="!passwordsMatch" class="invalid-feedback">
            <small>Las contraseñas no coinciden</small>
          </div>

        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirmación de contraseña *</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirme la contraseña"
                 [ngClass]="{'is-invalid': confirmPassword.invalid && confirmPassword.dirty  || !passwordsMatch, 'is-valid': confirmPassword.valid && passwordsMatch}"/>

          <div id="confirmPasswordHelpBlock" class="form-text float-end">
            Mínimo 8 caracteres
          </div>

          <div *ngIf="confirmPassword.invalid && confirmPassword.dirty && !passwordsMatch" class="invalid-feedback">
            <small *ngIf="confirmPassword.errors?.['required']">La confirmación de la contraseña es obligatoria.</small>
            <small *ngIf="confirmPassword.errors?.['minlength']">La confirmación de la contraseña es muy corta.</small>
          </div>

          <div *ngIf="!passwordsMatch" class="invalid-feedback">
            <small>Las contraseñas no coinciden</small>
          </div>

        </div>

        <div class="mb-3">
          <br>
          <button type="submit" class="btn btn-outline-secondary float-end btn-cancel-manufacturer m-2" routerLink="/" >Cancelar</button>
          <button type="submit" class="btn btn-primary float-end btn-submit-manufacturer m-2" [disabled]="!manufacturerForm.valid">Enviar</button>
        </div>
      </div>

    </div>

  </form>
</div>
